*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
/**Header section**/
.e-school-head{
    background-color: rgb(231, 247, 231);
}
.btn{
    border-radius: 50px !important;
    font-weight: 700 !important;
}

/**Hero section**/
.hero-section{
    background-color: rgb(231, 247, 231);
}
.learn h5{
    font-weight: 700;
}
.learn h1{
    font-weight: 700;
    font-size: 50px;
}